@charset "utf-8";
/* boom.css */

body,
div,
table,
p,
ul {
  padding: 0;
  margin: 0;
  background: #778899;
  vertical-align: baseline;
  box-sizing: border-box;
}

#wrap {
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}

table {
  width: 1000px;
  border-spacing: 0;
}
table tr td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
}
img {
  width: 35px;
  height: 35px;
}
