#wrap {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.box {
  display: inline-block;
  height: 100px;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

.box1 {
  background: red;
}
.box2 {
  background: pink;
}
.box3 {
  background: green;
}
.box4 {
  background: skyblue;
}
.box5 {
  background: greenyellow;
}

@media all and (min-width: 768px) {
  .box {
    width: 50%;
  }
  .box5 {
    width: 100%;
  }
}

@media all and (min-width: 1024px) {
  .box {
    width: 20%;
  }
}
