@charset "utf-8";

/* html element css 초기화 */
html, body, div, span, h1, h2, h3, h4, h5, h6, img, ul, form, label, 
footer, section, header, p, pre, address, nav, menu, dl, ol, li, dd, 
dt, article{
    margin: 0;
    padding: 0;
    border: 0;
}

img{
    vertical-align: top;
};
input{margin: 0;
    padding : 0;
    box-sizing: none;
    vertiker-align: top;
    appearance: 1px solid bled;

};

input:: -moz- ::placeholder color